<section class="author">
    <div class="authorimage" style="background: url({{author.image}})"></div>
    <p class="attr">Author</p>
    <h4><a href="{{author.url}}">{{author.name}}</a></h4>
    <p class="bio">{{author.bio}}</p>
</section>
